Phase-3/arm-logicapp-report.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "subscription_id": {
            "defaultValue": "",
            "type": "String"
        },
        "mail_recipient": {
            "defaultValue": "",
            "type": "String"
        },
        "connections_sql_name": {
            "defaultValue": "sql",
            "type": "String"
        },
        "workflows_la_we_report_name": {
            "defaultValue": "la-we-report",
            "type": "String"
        },
        "connections_outlook_name": {
            "defaultValue": "outlook",
            "type": "String"
        },
        "connections_servicebus_name": {
            "defaultValue": "servicebus",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_sql_name')]",
            "location": "westeurope",
            "kind": "V1",
            "properties": {
                "displayName": "logic-apps-managed-identity",
                "statuses": [
                    {
                        "status": "Ready"
                    }
                ],
                "customParameterValues": {},
                "createdTime": "2022-04-22T18:53:31.0403024Z",
                "changedTime": "2022-04-22T18:53:31.6967123Z",
                "api": {
                    "name": "[parameters('connections_sql_name')]",
                    "displayName": "SQL Server",
                    "description": "Microsoft SQL Server is a relational database management system developed by Microsoft. Connect to SQL Server to manage data. You can perform various actions such as create, update, get, and delete on rows in a table.",
                    "iconUri": "[concat('https://connectoricons-prod.azureedge.net/laborbol/patches/1520/', parameters('connections_sql_name'), '-mi/1.0.1520.2576/', parameters('connections_sql_name'), '/icon.png')]",
                    "brandColor": "#ba141a",
                    "id": "[concat('/subscriptions/', parameters('subscription_id'), '/providers/Microsoft.Web/locations/westeurope/managedApis/', parameters('connections_sql_name'))]",
                    "type": "Microsoft.Web/locations/managedApis"
                },
                "testLinks": [
                    {
                        "requestUri": "[concat('https://management.azure.com:443/subscriptions/', parameters('subscription_id'), '/resourceGroups/Monolith2LogicAppExamples/providers/Microsoft.Web/connections/', parameters('connections_sql_name'), '/extensions/proxy/testconnection?api-version=2016-06-01')]",
                        "method": "get"
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_la_we_report_name')]",
            "location": "westeurope",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_sql_name'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_message_is_received_in_a_queue_(auto-complete)": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 1
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Minute",
                                "interval": 1
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['servicebus']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/@{encodeURIComponent(encodeURIComponent('report-type-a'))}/messages/head",
                                "queries": {
                                    "queueType": "Main"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Create_HTML_table": {
                            "runAfter": {
                                "Get_rows_(V2)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Table",
                            "inputs": {
                                "columns": [
                                    {
                                        "header": "ID",
                                        "value": "@item()?['Id']"
                                    },
                                    {
                                        "header": "Value-1",
                                        "value": "@item()?['Field1']"
                                    },
                                    {
                                        "header": "Value-2",
                                        "value": "@item()?['Field2']"
                                    },
                                    {
                                        "header": "DateTime",
                                        "value": "@item()?['ModifiedDateTime']"
                                    }
                                ],
                                "format": "HTML",
                                "from": "@body('Get_rows_(V2)')?['value']"
                            }
                        },
                        "Get_rows_(V2)": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['sql']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('sqlserver-we-monolith2logicappexamples.database.windows.net'))},@{encodeURIComponent(encodeURIComponent('sqldb-we-monolith2logicappexamples'))}/tables/@{encodeURIComponent(encodeURIComponent('[dbo].[TypeAs]'))}/items"
                            }
                        },
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                "Create_HTML_table": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p>The requested report:<br>\n@{body('Create_HTML_table')}</p>",
                                    "Importance": "Normal",
                                    "Subject": "mono2logicapps : Report",
                                    "To": "[parameters('mail_recipient')]"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['outlook']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "outlook": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_outlook_name'))]",
                                "connectionName": "[parameters('connections_outlook_name')]",
                                "id": "[concat('/subscriptions/', parameters('subscription_id'), '/providers/Microsoft.Web/locations/westeurope/managedApis/', parameters('connections_outlook_name'))]"
                            },
                            "servicebus": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_servicebus_name'))]",
                                "connectionName": "[parameters('connections_servicebus_name')]",
                                "id": "[concat('/subscriptions/', parameters('subscription_id'), '/providers/Microsoft.Web/locations/westeurope/managedApis/', parameters('connections_servicebus_name'))]"
                            },
                            "sql": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_sql_name'))]",
                                "connectionName": "[parameters('connections_sql_name')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                },
                                "id": "[concat('/subscriptions/', parameters('subscription_id'), '/providers/Microsoft.Web/locations/westeurope/managedApis/', parameters('connections_sql_name'))]"
                            }
                        }
                    }
                }
            }
        }
    ]
}