Phase-2/logicapp-mail.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "subscription_id": {
            "defaultValue": "",
            "type": "String"
        },
        "connections_outlook_name": {
            "defaultValue": "outlook",
            "type": "String"
        },
        "workflows_la_we_mail_name": {
            "defaultValue": "la-we-mail",
            "type": "String"
        },
        "connections_azureblob_name": {
            "defaultValue": "azureblob",
            "type": "String"
        },
        "connections_servicebus_name": {
            "defaultValue": "servicebus",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_outlook_name')]",
            "location": "westeurope",
            "kind": "V1",
            "properties": {
                "displayName": "Outlook.com",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "nonSecretParameterValues": {},
                "createdTime": "2022-04-18T13:11:39.1587817Z",
                "changedTime": "2022-04-18T13:11:44.7695029Z",
                "api": {
                    "name": "[parameters('connections_outlook_name')]",
                    "displayName": "Outlook.com",
                    "description": "Outlook.com connector allows you to manage your mail, calendars, and contacts. You can perform various actions such as send mail, schedule meetings, add contacts, etc.",
                    "iconUri": "[concat('https://connectoricons-prod.azureedge.net/releases/v1.0.1567/1.0.1567.2748/', parameters('connections_outlook_name'), '/icon.png')]",
                    "brandColor": "#0078D4",
                    "id": "[concat('/subscriptions/', parameters('subscription_id'), '/providers/Microsoft.Web/locations/westeurope/managedApis/', parameters('connections_outlook_name'))]",
                    "type": "Microsoft.Web/locations/managedApis"
                },
                "testLinks": [
                    {
                        "requestUri": "[concat('https://management.azure.com:443/subscriptions/', parameters('subscription_id'), '/resourceGroups/Monolith2LogicAppExamples/providers/Microsoft.Web/connections/', parameters('connections_outlook_name'), '/extensions/proxy/testconnection?api-version=2016-06-01')]",
                        "method": "get"
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_la_we_mail_name')]",
            "location": "westeurope",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_outlook_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_new_email_arrives_(V2)": {
                            "splitOn": "@triggerBody()?['value']",
                            "metadata": {
                                "Id::AQMkADAwATZiZmYAZC04MTdjLTZhZGQALTAwAi0wMAoALgAAA6gycL6gISdMmFBIjJKK4AoBAJGOyDRT6WNFhNGS2ClAFOMABBK8-sQAAAA=": "Monolith2LogicApps"
                            },
                            "type": "ApiConnectionNotification",
                            "inputs": {
                                "fetch": {
                                    "method": "get",
                                    "pathTemplate": {
                                        "template": "/v2/Mail/OnNewEmail"
                                    },
                                    "queries": {
                                        "fetchOnlyWithAttachment": true,
                                        "folderPath": "Id::AQMkADAwATZiZmYAZC04MTdjLTZhZGQALTAwAi0wMAoALgAAA6gycL6gISdMmFBIjJKK4AoBAJGOyDRT6WNFhNGS2ClAFOMABBK8-sQAAAA=",
                                        "importance": "Any",
                                        "includeAttachments": true
                                    }
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['outlook']['connectionId']"
                                    }
                                },
                                "subscribe": {
                                    "body": {
                                        "NotificationUrl": "@{listCallbackUrl()}"
                                    },
                                    "method": "post",
                                    "pathTemplate": {
                                        "template": "/MailSubscriptionPoke/$subscriptions"
                                    },
                                    "queries": {
                                        "fetchOnlyWithAttachment": true,
                                        "folderPath": "Id::AQMkADAwATZiZmYAZC04MTdjLTZhZGQALTAwAi0wMAoALgAAA6gycL6gISdMmFBIjJKK4AoBAJGOyDRT6WNFhNGS2ClAFOMABBK8-sQAAAA=",
                                        "importance": "Any"
                                    }
                                }
                            }
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@triggerBody()?['Attachments']",
                            "actions": {
                                "Create_blob_(V2)": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": "@base64ToBinary(items('For_each')?['ContentBytes'])",
                                        "headers": {
                                            "Content-Type": "@items('For_each')?['ContentType']",
                                            "ReadFileMetadataFromServer": true
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files",
                                        "queries": {
                                            "folderPath": "/import/TypeA/",
                                            "name": "@items('For_each')?['Name']",
                                            "queryParametersSingleEncoded": true
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                }
                            },
                            "runAfter": {},
                            "type": "Foreach"
                        },
                        "Send_message": {
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "ContentData": "@{base64('Start Import From Mail')}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['servicebus']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/@{encodeURIComponent(encodeURIComponent('import-type-a'))}/messages"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureblob": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_azureblob_name'))]",
                                "connectionName": "[parameters('connections_azureblob_name')]",
                                "id": "[concat('/subscriptions/', parameters('subscription_id'), '/providers/Microsoft.Web/locations/westeurope/managedApis/', parameters('connections_azureblob_name'))]"
                            },
                            "outlook": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_outlook_name'))]",
                                "connectionName": "[parameters('connections_outlook_name')]",
                                "id": "[concat('/subscriptions/', parameters('subscription_id'), '/providers/Microsoft.Web/locations/westeurope/managedApis/', parameters('connections_outlook_name'))]"
                            },
                            "servicebus": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_servicebus_name'))]",
                                "connectionName": "[parameters('connections_servicebus_name')]",
                                "id": "[concat('/subscriptions/', parameters('subscription_id'), '/providers/Microsoft.Web/locations/westeurope/managedApis/', parameters('connections_servicebus_name'))]"
                            }
                        }
                    }
                }
            }
        }
    ]
}